*.vo
*.glob
*.v.d
*.coq
.DS_Store
*.aux
*.glo
*.idx
*.log
*.thm
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.rel
.coq-native
coq/Makefile.coq.conf


coq/html/*
website/*.html
